mystyle.css
Details
Activity
No recorded activity
Closed



@map {
  height: 400px;
  width: 100%;
}

@font-face {
    font-family: Hs; 
    src: url('Hallo-sans.otf'); /*URL of font*/
}
@font-face {
  font-family: Rl;
  src:url("https://fonts.googleapis.com/css?family=Raleway");
}
  
li a:link{
  color: '#252526';
}
li a:visited{
  color: 
}
pre
{
  font-family: Rl, sans-serif
}
strong
{
	text-align: center;
	font-family: Hs, serif;
	padding 5px;

}
body 
{	
  
  font-family: Rl, sans-serif;
  	margin: 0;
	height: 100%;
	background-color: #ffffff;
}
h1
{
	font-family: "Hs";
	font-weight: bold;
	font-style: impact;
	font-size: 40pt;
								
}
ul
{
	list-style-type: none;
	margin: 0;	
	padding: 0;
	overflow: hidden;
	background-color: #3284FF;
	position: fixed;
	top: 0;
	width: 100%;
  	color: black;
}	
li
{
	float: left; 
   color: black;
}
div {
	background-color:#f7f7f7; 
	position:center;
	border: 2px solid #000000;

}	

li a
{
	display: block;
	color: #white;
	text-align: center;
	font-style: impact;
	font-weight: bold;
	padding: 16px;
	text-decoration: none;
	border-right: 1px solid #555;
}
li a:hover
{
	background-color: #1912E8;
	color: white;
}
a
{
	text-decoration: none;
}
a:hover
{
	color: #1912E8;
}				

