ul
{
	list-style-type: none;
	margin: 0;	
	padding: 0;
	overflow: hidden;
	background-color: #3284FF;
	position: fixed;
	top: 0;
	width: 100%;
  	color: black;
}	
li
{
	float: left; 
   color: black;
}
li a
{
	display: block;
	color: #white;
	text-align: center;
	font-style: impact;
	font-weight: bold;
	padding: 16px;
	text-decoration: none;
	border-right: 1px solid #555;
}
li a:hover
{
	background-color: #1912E8;
	color: white;
}
a
{
	text-decoration: none;
}
a:hover
{
	color: #1912E8;
}		